 .Title {
    text-align:left;
  &-text {
    width: 40%;
    margin-left: 2.5%;
    display: inline-block;
    color: rgb(85, 28, 147);
    font-size: 4.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  &-category {
    width: 40%;
    margin-left: 7.5%;
    text-align:right;
    display: inline-block;
    font-size: 1.75vw;
    a {
      text-decoration: none;
      color: blue;
    }
  }
 }