.GoodsComponent {
  text-align: left;
    &-content {
      background-color: white;
    }
    &-title-text {
      width: 40%;
      margin-left: 2.5%;
      display: inline-block;
      color: rgb(85, 28, 147);
      font-size: 5vh;
      padding-top: 2vh;
      padding-bottom: 2vh;
    }
    &-title-category {
      width: 40%;
      margin-left: 7.5%;
      text-align: right;
      display: inline-block;
      font-size: 2vh;
      a {
        text-decoration: none;
        color: blue;
      }
    }
  }
  